<h1>Welcome to The Rock-Paper-Scissors Game</h1>
<p>Type the first move followed by a '/' then the second move into the URL
  to play the game.
<p>Moves must be either:
  <ul>
    <li>rock</li>
    <li>paper</li>
    <li>scissors</li>
  </ul>

  These moves can be in any order.</p>
</p>
<p>The result of each play is displayed on the page.  If other terms than those
  listed are enterred as moves an error will be displayed.
 </p>
